---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #000066;
$header-bg-color-secondary: #993366;

// Text
$section-headings-color: #993366;
$body-text-color: #606c71 !default;
$body-link-color: #1357bd;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

.myfloat-row {
  border: 1px solid #808080;
}
.myfloat-row::before,.myfloat-row::after {
  content: "";
  display: table;
  clear: both;
}

.myfloat-3 {
  float: left;
  width: 33.33333%;
  padding: 0 0.75rem;

  @include small {
    width: 100%;
  }
}
